CONFIG_IDF_TARGET="esp32s3"
CONFIG_BOARD_TYPE_CUSTOM_S3_N16R8=y
# CONFIG_SPIRAM is not set
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# Increase main task stack size to prevent stack overflow
CONFIG_ESP_MAIN_TASK_STACK_SIZE=12288

# Suppress legacy touch pad driver deprecation warning on ESP-IDF 6.1
CONFIG_TOUCH_SUPPRESS_DEPRECATE_WARN=y
