CONFIG_IDF_TARGET="esp32s3"
CONFIG_BOARD_TYPE_CUSTOM_S3_N16R8=y
# CONFIG_SPIRAM is not set
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/v2/16m.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions/v2/16m.csv"

# Increase main task stack size to prevent stack overflow
CONFIG_ESP_MAIN_TASK_STACK_SIZE=12288
